<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "perfil.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Fausto Antonio Andrade Vera</h1>
    <p>I am a person who likes programming, </p>
    <p>and this blog will talk about topics of interest </p>
    <p>in the Ruby on Rails programming language.</p>
  </div>
</div>
